.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--card-text-weight);
  background-image: repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px), repeating-linear-gradient(to bottom,  #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px), linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  margin-block: 98px;
  flex-direction: column;
  align-items: center;
}

.content-container {
  background-color: var(--main-background-color);
  border: 2px solid currentColor;
  inline-size: var(--main-inline-size);
}

.header {
  font-family: var(--accent-font);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block: var(--header-padding-block);
  font-size: var(--header-logo-size);
  align-items: center;
  margin-block-end: 96px;
}

.logo {
  font-size: inherit;
  font-weight: var(--accent-font-weight);
  line-height: 1em;
}

.header__title {
  font-size: var(--header-title-size);
  text-transform: uppercase;
  line-height: 1em;
  font-weight: var(--accent-font-weight);
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  font-size: 18px;
}

.card__title {
  font-size: inherit;
  line-height: 21px;
  padding: 5px 10px;
  font-variation-settings: 'wght' var(--card-title-weight);
}

.card-image-container {
  position: relative;
  inline-size: 100%;
  border-block: 2px solid currentColor;
  overflow: hidden;
  block-size: var(--main-inline-size);
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font), system-ui;
  font-size: 14px;
  text-shadow:
  -1px 0 #FFFFFF, 
  0 1px #FFFFFF, 
  1px 0 #FFFFFF, 
  0 -1px #FFFFFF;
  mix-blend-mode: hard-light;
  opacity: 50%;
  font-weight: var(--accent-font-weight);
  line-height: 1em;
  z-index: 1;
}

@supports((text-stroke: 1px #FFFFFF) or (-webkit-text-stroke: 1px #FFFFFF)) {
  .label {
    -webkit-text-stroke: 1px #FFFFFF;
    text-stroke: 1px #FFFFFF;
    text-shadow: none;
  }
} 

.card__image {
  inline-size: 100%;
  block-size: 100%;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__text {
  font-size: inherit;
  line-height: 21px;
}

.card__buttons {
  align-self: end;
  display: flex;
  gap: 11px;
}

.card__icon-button {
  background-color: var(--main-background-color);
  cursor: pointer;
  inline-size: 36px;
  block-size: 36px;
}

.button {
  border: 2px solid currentColor;
  background-color: var(--main-background-color);
  font-weight: var(--accent-font-weight);
  cursor: pointer;
  font-size: 14px;
  line-height: 0.9em;
  text-align: center;
  font-family: var(--accent-font), system-ui;
}

.card__like-button {
  padding-block: 11px;
  inline-size: 130px;
}

.save-button {
  display: flex;
  padding: 16px 19px;
  gap: 8px;
  align-items: center;
  align-self: center;
}

.save-button__icon {
  block-size: var(--floppy-size);
  inline-size: var(--floppy-size);
}

.save-dialog:open {
  display: flex;
  flex-direction: column;
  padding-block: 30px;
  padding-inline: var(--dialog-padding-inline);
  gap: 30px;
  font-family: var(--accent-font), system-ui;
  border: 2px solid currentColor;
  inline-size: var(--dialog-inline-size);
}

::backdrop {
  opacity: 75%;
  background-color: currentColor;
}

.dialog-description {
  display: flex;
  gap: 20px;
}

.dialog__icon {
  inline-size: 39px;
  block-size: 39px;
  align-self: center;
}

.dialog__text {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
  font-size: 14px;
  font-weight: var(--accent-font-weight);
  text-transform: uppercase;
}

.ok-button {
  padding-block: 11.5px;
  text-transform: uppercase;
}