.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--card-text-weight);
  background-image: repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px), repeating-linear-gradient(to bottom,  #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px), linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  margin-block: 98px;
  flex-direction: column;
  align-items: center;
}

.content-container {
  background-color: var(--main-background-color);
  border: 2px solid currentColor;
  inline-size: var(--main-inline-size);
}

.header {
  font-family: var(--accent-font);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block: var(--header-padding-block);
  font-size: var(--header-logo-size);
  align-items: center;
  margin-block-end: 96px;
}

.logo {
  font-size: inherit;
  font-weight: var(--accent-font-weight);
  line-height: 1em;
}

.header__title {
  font-size: var(--header-title-size);
  text-transform: uppercase;
  line-height: 1em;
  font-weight: var(--accent-font-weight);
}