:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';
  --card-title-weight: 715;
  --card-text-weight: 410;
  --accent-font-weight: 400;
  --main-background-color: #ffffff;
  --main-inline-size: clamp(375px, 50vw, 700px);
  --header-logo-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --header-title-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --header-padding-block: clamp(122px, 2em, 130px);
  --card-image-container-size: clamp(375px, 50vw, 700px);
  --image-fit: fill;
  --image-position: center;
  --blur:0px;
  --contrast:100%;
  --brightness:100%;
  --dropshadow:0px 0px 0px black;
  --grayscale:0%;
  --hue-rotate:0deg;
  --invert:0%;
  --opacity:100%;
  --saturate:100%;
  --sepia:0%;
  --floppy-size: 21px;
  --dialog-padding-inline: 30px;
  --dialog-inline-size: 353px;
  --accent-color: #000000;
  --button-content-color: #ffffff;
  --heart-contour-color: #000000;
  --animation-fill-color: red;
  --sparks-color: red;
}

@media (width <= 375.2px) {
  :root {
    --main-inline-size: 100%;
    --card-image-container-size: 100vw;
    --floppy-size: 28px;
    --dialog-padding-inline: 40px;
    --dialog-inline-size: 91vw;
  }
}

.covered {
  --image-fit: cover;
}

.right-positioned {
  --image-position: right;
}

.left-positioned {
  --image-position: left;
}

.blurred {
  --blur: 1px;
}

.low-bright {
  --brightness: 80%;
}

.high-bright {
  --brightness: 140%;
}

.low-contrasted {
  --contrast: 85%;
}

.high-contrasted {
  --contrast: 135%;
}

.low-grayscaled {
  --grayscale: 40%;
}

.low-inverted {
  --invert: 10%;
}

.low-saturated {
  --saturate: 80%;
}

.high-saturated {
  --saturate: 140%;
}

.low-sepia {
  --sepia: 20%;
}