:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';
  --card-title-weight: 715;
  --card-text-weight: 410;
  --accent-font-weight: 400;
  --main-background-color: #ffffff;
  --main-inline-size: clamp(375px, 50vw, 700px);
  --header-logo-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --header-title-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --header-padding-block: clamp(122px, 2em, 130px);
  --card-image-container-size: clamp(375px, 50vw, 700px);
  --floppy-size: 21px;
  --dialog-padding-inline: 30px;
  --dialog-inline-size: 353px;
  --accent-color: #000000;
  --button-content-color: #ffffff;
  --heart-contour-color: #000000;
  --animation-fill-color: red;
  --sparks-color: red;
}

@media (width <= 375.2px) {
  :root {
    --main-inline-size: 100%;
    --card-image-container-size: 100vw;
    --floppy-size: 28px;
    --dialog-padding-inline: 40px;
    --dialog-inline-size: 91vw;
  }
}